/*the buttons*/
.btn{
    margin-left:20px;
    margin-bottom: 15px;
}
/*the gifs*/
.gif{
    margin-bottom:5px;
    margin-right:20px;
    float:left;
    text-align: center;
    width:398px;
}

/*the bootstrap card*/
.card{
    width: 25rem;
    float: right;
    margin-left:20px;
    margin-bottom:50px;
    margin-right:20px;
}
/*the card body*/
.card-body{
background-color: black;
color:blue;
}
/*the div for the gifs*/
.gifsHere{
    margin-top:150px;
}
/*the input and submit button*/
#search, #newGif{
    float: right;
}