body {
    background-image: url("https://i.pinimg.com/originals/bb/44/25/bb4425aaf66111adf8103a5950ae6069.jpg");
    background-size: cover;
}

/*the gifs*/
.gif {
    position: relative;
    margin-bottom: 5px;
    margin-right: 20px;
    text-align: center;
    width: 398px;
    height: 223px;
}

/*the bootstrap card*/
.card {
    position: relative;
    width: 25rem;
    float: left;
    margin-left: 20px;
    margin-bottom: 50px;

}

/*the card body*/
.card-body {
    position: relative;
    background-color: black;
    color: blue;
    text-align: center;
}

/*the div for the gifs*/
.gifDiv {
    margin-top: 150px;
}



/*the number of gifs selector and the input and button*/
#gifSelect {
    color: navy;
    font-weight: 600;
text-align: center;
}